<footer class="footer">
    <div class="copyright">
        <p>Copyright &copy; Jason's blog. All rights reserved.</p>
        <div class="footer-social">
            <a href="https://github.com/ZhuXunJason" target="_blank" rel="noopener noreferrer" class="github" title="GitHub" aria-label="GitHub"><i
                    class="fab fa-github"></i></a>
            <a href="https://space.bilibili.com/1957493565?spm_id_from=333.1007.0.0" target="_blank" rel="noopener noreferrer" class="bilibili"
                title="Bilibili" aria-label="Bilibili"><i class="fa-brands fa-bilibili"></i></a>
            <a href="mailto:241880584@smail.nju.edu.cn" target="_blank" rel="noopener noreferrer" aria-label="Email"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</footer>
